$def with(param,render,list)
$var title:$param["title"]
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="../favicon.ico" >
<link rel="Shortcut Icon" href="../favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="../static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="../static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="../static/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="../static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="../static/h-ui.admin/css/style.css" />
<section class="Hui-article-box" style="position:static;">
	<div class="Hui-article" style="position:static;">
		<article class="cl pd-20">
			<div class="text-c"> 日期范围：
				<input type="text" onfocus="WdatePicker({maxDate:'#F{dp.DD(\'datemax\')||\'%y-%M-%d\'}'})" id="datemin" class="input-text Wdate" style="width:120px;">
				-
				<input type="text" onfocus="WdatePicker({minDate:'#F{dp.DD(\'datemin\')}',maxDate:'%y-%M-%d'})" id="datemax" class="input-text Wdate" style="width:120px;">
				<input type="text" class="input-text" style="width:250px" placeholder="输入管理员名称" name="">
				<button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜地址</button>
			</div>
			<div class="cl pd-5 bg-1 bk-gray mt-20">
				<span class="r">共有数据：<strong>54</strong> 条</span>
			</div>
			<table class="table table-border table-bordered table-bg">
				<thead>
					<tr>
						<th scope="col" colspan="9">地址列表</th>
					</tr>
					<tr class="text-c">
						<th width="25"><input type="checkbox" name="" value=""></th>
						<!--<th width="40">ID</th>-->
						<th width="150">任务名称</th>
						<th width="150">url</th>
						<th>描述</th>
						<th width="130">创建时间</th>
						<th width="130">创建人</th>
						<th width="130">表名</th>
						<th width="130">类型</th>
						<th width="100">状态</th>
						<th width="100">操作</th>
					</tr>
				</thead>
				<tbody>
					$for url in list:
						<tr class="text-c">
							<td><input type="checkbox" class="checkBoxInput" value="$url.id" name="url_check" onclick="check_input(this,'$url.id','$url.name','$url.description')">
								<input type="hidden" value="$url.id" name="id">
							</td>
							<!--<td>$url.id</td>-->
							<td>$url.name</td>
							<td>$url.url</td>
							<td>$url.description</td>
							<td>$url.create_date</td>
							<td>$url.create_user_id</td>
							<td>$url.table_name</td>
							<td>
								$if url.type==0:
									<span>XPATH</span>
								$else:
									<span>JSON</span>
							</td>
							<td class="td-status">
								$if url.del_flag==0:
									<span class="label label-success radius">已启用</span>
								$else:
									<span class="label label-fail radius">暂停</span>
							</td>
							<td class="td-manage"><a style="text-decoration:none" onClick="admin_stop(this,$url.id)" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a>
								<a title="编辑" href="javascript:;" onclick="admin_edit('管理员编辑','../add/url?id=$url.id','1','800','500')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
								<a title="删除" href="javascript:;" onclick="admin_del(this,'$url.id')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
						</tr>
				</tbody>
			</table>
		</article>
	</div>
</section>

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
var lastcheckInput = null ;
function check_input(obj,id,name,desc){
    if(lastcheckInput){
        lastcheckInput.checked = false;
	}
	lastcheckInput = obj;
	parent.check_list(id,obj.checked,name,desc);
}
/*
	参数解释：
	title	标题
	url		请求的url
	id		需要操作的数据id
	w		弹出层宽度（缺省调默认值）
	h		弹出层高度（缺省调默认值）
*/
/*管理员-增加*/
function admin_add(title,url,w,h){
	layer_show(title,url,w,h);
}
/*管理员-删除*/
function admin_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		//此处请求后台程序，下方是成功后的前台处理……
		
		jQuery(obj).parents("tr").remove();
		layer.msg('已删除!',{icon:1,time:1000});
	});
}
/*管理员-编辑*/
function admin_edit(title,url,id,w,h){
	layer_show(title,url,w,h);
}
/*管理员-停用*/
function admin_stop(obj,id){
	layer.confirm('确认要停用吗？',function(index){
		//此处请求后台程序，下方是成功后的前台处理……
		
		jQuery(obj).parents("tr").find(".td-manage").prepend('<a onClick="admin_start(this,id)" href="javascript:;" title="启用" style="text-decoration:none"><i class="Hui-iconfont">&#xe615;</i></a>');
		jQuery(obj).parents("tr").find(".td-status").html('<span class="label label-default radius">已禁用</span>');
		jQuery(obj).remove();
		layer.msg('已停用!',{icon: 5,time:1000});
	});
}

/*管理员-启用*/
function admin_start(obj,id){
	layer.confirm('确认要启用吗？',function(index){
		//此处请求后台程序，下方是成功后的前台处理……
		
		jQuery(obj).parents("tr").find(".td-manage").prepend('<a onClick="admin_stop(this,id)" href="javascript:;" title="停用" style="text-decoration:none"><i class="Hui-iconfont">&#xe631;</i></a>');
		jQuery(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
		jQuery(obj).remove();
		layer.msg('已启用!', {icon: 6,time:1000});
	});
}
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>