.nodeBtn{width: auto;height: auto;padding: 15px;background-color: #5a98de;}
.nodeName{font-size: 18px;}
.nodeIP,.nodeP{font-size: 12px;line-height: 12px;}
#tab{overflow:hidden;zoom:1;}
#tab li {float:left;padding:0 5px;}
#content tr {display:none;}