<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="Bookmark" href="../favicon.ico">
    <link rel="Shortcut Icon" href="../favicon.ico"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="../static/lib/html5.js"></script>
    <script type="text/javascript" src="../static/lib/respond.min.js"></script>

    <![endif]-->

    <script type="text/javascript" src="../static/lib/My97DatePicker/4.8/WdatePicker.js"></script>

    <link rel="stylesheet" type="text/css" href="../static/h-ui/css/H-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static/h-ui.admin/css/H-ui.admin.css"/>
    <link rel="stylesheet" type="text/css" href="../static/lib/Hui-iconfont/1.0.8/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="../static/h-ui.admin/skin/default/skin.css" id="skin"/>
    <link rel="stylesheet" type="text/css" href="../static/h-ui.admin/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/multiple-select.css">
    <!--[if IE 6]>
    <script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script><![endif]-->
    <!--/meta 作为公共模版分离出去-->

    <title>添加地址 - 地址管理 </title>
    <meta name="keywords" content="H-ui.admin v3.0,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
    <meta name="description" content="H-ui.admin v3.0，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
</head>
<body>
<article class="cl pd-20">
        <div class="row cl" style="margin-left: 100px">
            <div class="mt-20 skin-minimal" sytle="margin-left:115px;">
                <div class="radio-box" id="selectD1">
                    <input type="radio" id="radio-d1" name="agent" value="0">
                    <label for="radio-d1" id="radio-d1-label">代理1</label>
                </div>

                <div class="radio-box" id="selectD2">
                    <input type="radio" id="radio-d2" name="agent" value="1" checked>
                    <label for="radio-d2" id="radio-d2-label">代理2</label>
                </div>
            </div>
        </div>
    <form action="" method="post" class="form form-horizontal" id="form1" style="padding-left: 100px;">
        <div class="row cl" id="address" style="display: none" >
            <label class="form-label col-xs-2 col-sm-2" style="text-align: left;"><span class="c-red"></span>接口地址：</label>
            <div class="formControls col-xs-5 col-sm-5">
                <input type="text" id="addressInput" class="input-text" value="" placeholder="请输入地址" aria-required="true" name="authUrl">
            </div>
        </div>
    </form>
     <form action="" method="post" class="form form-horizontal" id="form2" style="padding-left: 100px;">
        <div id="agent2" >
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-2" style="text-align: right;width: 120px"><span class="c-red">*</span>Host：</label>
            <div class="formControls col-xs-5 col-sm-5">
                <input type="text" class="input-text" value="" placeholder="" aria-required="true" name="hostName">
            </div>
        </div>
        <div class="row cl">
                    <label class="form-label col-xs-2 col-sm-2"><span class="c-red">*</span>port：</label>
                    <div class="formControls col-xs-5 col-sm-5">
                        <input type="text" name="port" class="input-text" placeholder="" aria-required="true" digits="true">
                    </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-2 col-sm-2" style="text-align: right;width: 120px"><span class="c-red">*</span>username：</label>
            <div class="formControls col-xs-5 col-sm-5">
                <input type="text" class="input-text" value="" placeholder="" aria-required="true" name="userName">
            </div>
        </div>
          <div class="row cl">
            <label class="form-label col-xs-2 col-sm-2" style="text-align: right;width: 120px"><span class="c-red">*</span>password：</label>
            <div class="formControls col-xs-5 col-sm-5">
                <input type='password' class="input-text" value="" placeholder="" aria-required="true" name="password">
            </div>
        </div>
            </div>

          <div class="row cl">
            <span class="col-xs-2 col-sm-2 col-xs-offset-2 col-sm-offset-2">
                <input class="btn btn-primary radius" type="button" id="agentBtn" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </span>
            <span class="">
                <input class="btn  radius" id="cancelBtn" type="button" value="&nbsp;&nbsp;取消&nbsp;&nbsp;">
            </span>
        </div>

    </form>
</article>
<script type="text/javascript" src="../static/lib/jquery/1.9.1/jquery.min.js"></script>
<script>
    jQuery.noConflict();
</script>
<script type="text/javascript" src="../static/h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="../../static/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="../../static/h-ui.admin/js/H-ui.admin.page.js"></script>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="../static/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="../static/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="../static/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="../static/js/jsAddress.js"></script>
<script type="text/javascript" src="../static/js/multiple-select.js"></script>
<script type="text/javascript" src="/static/js/ajaxFunction.js"></script>
<script type="text/javascript" src="/static/js/agent.js"></script>



<script type="text/javascript">
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>