<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="Bookmark" href="../favicon.ico">
    <link rel="Shortcut Icon" href="../favicon.ico"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="../static/lib/html5.js"></script>
    <script type="text/javascript" src="../static/lib/respond.min.js"></script>

    <![endif]-->

    <script type="text/javascript" src="../static/lib/My97DatePicker/4.8/WdatePicker.js"></script>

    <link rel="stylesheet" type="text/css" href="../static/h-ui/css/H-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static/h-ui.admin/css/H-ui.admin.css"/>
    <link rel="stylesheet" type="text/css" href="../static/lib/Hui-iconfont/1.0.8/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="../static/h-ui.admin/skin/default/skin.css" id="skin"/>
    <link rel="stylesheet" type="text/css" href="../static/h-ui.admin/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/multiple-select.css">
    <link rel="stylesheet" type="text/css" href="/static/css/showAgent.css">
    <!--[if IE 6]>
    <script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script><![endif]-->
    <!--/meta 作为公共模版分离出去-->

    <title>添加地址 - 地址管理 </title>
    <meta name="keywords" content="H-ui.admin v3.0,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
    <meta name="description" content="H-ui.admin v3.0，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
</head>
<body>
<article class="cl pd-20">
         <table id="agent" class="table table-border table-bordered table-bg table-hover"style="margin-top: 20px;">
                <tbody>
                <thead>
					<tr>
						<th scope="col" colspan="6" style="background: #dff0d8;">代理信息</th>
					</tr>
				</thead>
                </tbody>
         </table>

        <table id="agent_list" class="table table-border table-bordered table-bg table-hover" style="margin-top: 20px;display: none;">
            <thead>
                <tr>
                    <th scope="col" colspan="6">静态代理列表</th>
                </tr>
                <tr class="text-c" scope="col" colspan="6">
                    <th width="200" >id</th>
                    <th width="100" >host</th>
                    <th width="100" >port</th>
                    <th width="250" >proxyInfoId</th>
                    <th width="300" >创建时间</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
</article>
<script type="text/javascript" src="../static/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="../static/h-ui/js/H-ui.js"></script>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="../static/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="../static/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="../static/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="../static/js/jsAddress.js"></script>
<script type="text/javascript" src="../static/js/multiple-select.js"></script>
<script type="text/javascript" src="/static/js/ajaxFunction.js"></script>
<script type="text/javascript" src="/static/js/showAgent.js"></script>
<script type="text/javascript"></script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>