{% extends "index.html" %}
{% block use_list %}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="Bookmark" href="../favicon.ico">
    <link rel="Shortcut Icon" href="../favicon.ico"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="../static/lib/html5.js"></script>
    <script type="text/javascript" src="../static/lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="../static/h-ui/css/H-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static/h-ui.admin/css/H-ui.admin.css"/>
    <link rel="stylesheet" type="text/css" href="../static/lib/Hui-iconfont/1.0.8/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="../static/h-ui.admin/skin/default/skin.css" id="skin"/>
    <link rel="stylesheet" type="text/css" href="../static/h-ui.admin/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <!--[if IE 6]>
    <script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script><![endif]-->
    <!--/meta 作为公共模版分离出去-->

    <title>添加地址 - 地址管理 </title>
    <meta name="keywords" content="H-ui.admin v3.0,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
    <meta name="description" content="H-ui.admin v3.0，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
    <style>
        .hov:hover {
            cursor: pointer;
            text-decoration: none;
        }
    </style>
</head>
<body>
<aside class="Hui-aside_use Hui-aside">
    <input runat="server" id="divScrollValue" type="hidden" value=""/>
    <div id="use">
        <ul class="work">
            <li id="menu-user5" class="checked">
                <a style="text-decoration: none" href="#" onclick="window.history.go(-1);" title="返回" name="">
                    <i class="Hui-iconfont">&#xe6d4;</i>
                    <span>返回</span>
                </a>
            </li>
        </ul>
    </div>
</aside>

<article class="cl pd-20">
    <form action="" method="post" class="form form-horizontal" id="form-url-add" style="margin-left: 200px;">
        <div class="row cl">
            <div class="col-xs-12 col-sm-6">
                <div class="row cl">
                    <label class="form-label col-xs-2 col-sm-2" style="margin-left: 33px;"><span class="c-red"></span>类型:</label>
                    <div class="mt-20 skin-minimal">
                        <div class="radio-box">
                            <input type="radio" id="radio-z1" name="type" value="0" checked >
                            <label for="radio-z1">视频</label>
                        </div>
                        <div class="radio-box">
                            <input type="radio" id="radio-z2" name="type" value="1">
                            <label for="radio-z2">音频</label>
                        </div>
                        <div class="radio-box">
                            <input type="radio" id="radio-z3" name="type" value="2">
                            <label for="radio-z3">图书</label>
                        </div>
                        <div class="radio-box">
                            <input type="radio" id="radio-z4" name="type" value="3">
                            <label for="radio-z4">扫黄打非</label>
                        </div>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-2 col-sm-3"><span class="c-red">*</span>任务名称：</label>
                    <div class="formControls col-xs-5 col-sm-4">
                        <input type="text" name="name" class="input-text" placeholder="请输入用户名" aria-required="true">
                    </div>
                </div>
                <div class="row cl" id="chooseAdd">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>关键词：</label>
                    <div class="formControls col-xs-8 col-sm-4">
                    <input type="text" maxlength="20" class="input-text" value="" placeholder="请输入关键词" id="" name="key" aria-required="true">
                </div>
        </div>
                <div class="row cl">
                    <label class="form-label col-xs-2 col-sm-3"><span class="c-red"></span>采集间隔：</label>
                    <div class="formControls col-xs-5 col-sm-4">
               <span>
                    <select class="select" name="grapInterval" style="width: 200px;padding: 4px 5px;">
                        <option value="0">1000ms</option>
                        <option value="1">2000ms</option>
                        <option value="2">3000ms</option>
                    </select>
                </span>
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-2 col-sm-3"><span class="c-red">*</span>分页采集数：</label>
                    <div class="formControls col-xs-5 col-sm-4">
                        <input type="text" name="pageLimit" class="input-text" placeholder="" aria-required="true" digits="true">
                    </div>
                </div>
                <div class="row cl">
                    <label class="form-label col-xs-2 col-sm-3"><span class="c-red">*</span>翻页增量：</label>
                    <div class="formControls col-xs-5 col-sm-4">
                        <input type="text" name="pageOffset" class="input-text" placeholder="" aria-required="true" digits="true"
                        >
                    </div>
                </div>

                <div class="row cl">
                    <label class="form-label col-xs-2 col-sm-3"><span class="c-red"></span>字符编码：</label>
                    <div class="mt-20 skin-minimal">
                        <div class="radio-box">
                            <input type="radio" id="radio-z1" name="encodeTypeId" value="0">
                            <label for="radio-z1">AUTO</label>
                        </div>
                        <div class="radio-box">
                            <input type="radio" id="radio-z2" name="encodeTypeId" value="1">
                            <label for="radio-z2">UTF-8</label>
                        </div>
                        <div class="radio-box">
                            <input type="radio" id="radio-z3" name="encodeTypeId" value="2">
                            <label for="radio-z3">GB2312</label>
                        </div>
                        <div class="radio-box">
                            <input type="radio" id="radio-z4" name="encodeTypeId" value="3">
                            <label for="radio-z4">ISO8859-1</label>
                        </div>
                        <div class="radio-box">
                            <input type="radio" id="radio-z5" name="encodeTypeId" value="4" checked>
                            <label for="radio-z5">GBK</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="row cl">
                    <label class="form-label col-xs-2 col-sm-2"><span class="c-red"></span>代理方式：</label>
                    <div class="mt-20 skin-minimal">
                        <div class="radio-box" id="select_two">
                            <input type="radio" id="radio-p1" name="proxyType" value="">
                            <label for="radio-p1">动态代理</label>
                        </div>
                        <div class="radio-box" id="select_three">
                            <input type="radio" id="radio-p2" name="proxyType" value="1">
                            <label for="radio-p2">静态代理</label>
                        </div>
                        <div class="radio-box">
                            <input type="radio" id="radio-p3" name="proxyType" value="0" checked>
                            <label for="radio-p3">无代理</label>
                        </div>
                    </div>
                </div>

                <table class="table table-border table-bordered table-bg table-hover table-striped"
                       style="margin-top: 50px;display: none;" id="agent1">
                    <thead>
                    <tr class="text-c">
                        <th width="20">ADDRESS</th>
                        <th width="10">编辑</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="text-c">
                        <td style="height: 32px"></td>
                        <td><a class="edit2"><i class="Hui-iconfont list_result">&#xe720;</i></a></td>
                    </tr>
                    </tbody>
                </table>

                <table class="table table-border table-bordered table-bg table-hover table-striped"
                       style="margin-top: 50px;display: none;" id="agent2">
                    <thead>
                    <tr class="text-c">
                        <th width="20">HOST</th>
                        <th width="20">POST</th>
                        <th width="20">USERNAME</th>
                        <th width="10">PASSWORD</th>
                        <th width="10">编辑</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="text-c">
                        <td style="height: 32px"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><a class="edit2"><i class="Hui-iconfont list_result">&#xe720;</i></a></td>
                    </tr>
                    </tbody>
                </table>

                <div class="row cl">
                    <label class="form-label col-xs-2 col-sm-2"><span class="c-red"></span>采集周期：</label>
                    <div class="mt-20 skin-minimal">
                        <div class="radio-box">
                            <input type="radio" id="radio-t1" name="grapPeriod" value="1" checked>
                            <label for="radio-t1">执行一次</label>
                        </div>

                        <div class="radio-box" id="select_one">
                            <input type="radio" id="radio-t2" name="grapPeriod" value="2">
                            <label for="radio-t2">执行多次</label>
                        </div>
                    </div>
                </div>

                <table class="table table-border table-bordered table-bg table-hover table-striped"
                       style="margin-top: 50px;display: none;" id="configureHz">
                    <thead>
                    <tr class="text-c">
                        <th width="20">开始时间</th>
                        <th width="20">执行频率</th>
                        <th width="20">明细频率</th>
                        <th width="20">结束时间</th>
                        <th width="10">编辑</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="text-c">
                        <td style="height: 32px"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><a class="hov"><i class="Hui-iconfont list_result">&#xe720;</i></a></td>
                    </tr>
                    </tbody>
                </table>
                 <input type="hidden" name="databaseId" id="databaseIdAdd" value="0">
                <div class="row cl">
                    <label class="form-label col-xs-2 col-sm-2"><span class="c-red"></span>入库类型：</label>
                    <div class="mt-20 skin-minimal">
                        <div class="radio-box" id="select_db1">
                            <input type="radio" id="radio-db1" name="databaseId_T" value="0">
                            <label for="radio-z1">ORACLE</label>
                        </div>
                        <div class="radio-box" id="select_db2">
                            <input type="radio" id="radio-db2" name="databaseId_T" value="1">
                            <label for="radio-z2">SQLSERVER</label>
                        </div>
                        <div class="radio-box" id="select_db3">
                            <input type="radio" id="radio-db3" name="databaseId_T" value="2">
                            <label for="radio-z3">MYSQL</label>
                        </div>
                        <div class="radio-box" id="select_db4">
                            <input type="radio" id="radio-db4" name="databaseId_T" value="3">
                            <label for="radio-z4">HDFS</label>
                        </div>
                        <div class="radio-box" id="select_db5">
                            <input type="radio" id="radio-db5" name="databaseId_T" value="4" checked>
                            <label for="radio-z5">KAFKA</label>
                        </div>
                    </div>
                </div>
                <table class="table table-border table-bordered table-bg table-hover table-striped"
                       style="margin-top: 50px;display: none;" id="configuresq0">
                    <thead>
                    <tr class="text-c">
                        <th width="20">HOST</th>
                        <th width="20">POST</th>
                        <th width="20">Username</th>
                        <th width="20">Password</th>
                        <th width="20">数据库名</th>
                        <th width="10">编辑</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="text-c">
                        <td style="height: 32px"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><a class="edit0"><i class="Hui-iconfont list_result">&#xe720;</i></a></td>
                    </tr>
                    </tbody>
                </table>
                <table class="table table-border table-bordered table-bg table-hover table-striped"
                       style="margin-top: 50px;display: none;" id="configuresql">
                    <thead>
                    <tr class="text-c">
                        <th width="20">URL</th>
                        <th width="20">数据库名</th>
                        <th width="10">编辑</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="text-c">
                        <td style="height: 32px"></td>
                        <td></td>
                        <td><a class="edit1"><i class="Hui-iconfont list_result">&#xe720;</i></a></td>
                    </tr>
                    </tbody>
                </table>
                <table class="table table-border table-bordered table-bg table-hover table-striped"
                       style="margin-top: 50px;display: none;" id="configuresq2">
                    <thead>
                    <tr class="text-c">
                        <th width="20">HOST</th>
                        <th width="20">POST</th>
                        <th width="20">数据库名</th>
                        <th width="10">编辑</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="text-c">
                        <td style="height: 32px"></td>
                        <td></td>
                        <td></td>
                        <td><a class="edit2"><i class="Hui-iconfont list_result">&#xe720;</i></a></td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <div class="row cl"  style="margin-left: -300px;margin-top: 20px;">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input id="saveBtn" class="btn btn-primary radius" type="button" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
                 <span class="col-xs-offset-1 col-sm-offset-1">
                <input class="btn  radius" id="cancelBtn" type="button" value="&nbsp;&nbsp;取消&nbsp;&nbsp;">
            </span>
            </div>
        </div>
    </form>
</article>
<script type="text/javascript" src="../static/lib/jquery/1.9.1/jquery.min.js"></script>
<script>
</script>
<script type="text/javascript" src="../static/h-ui/js/H-ui.js"></script>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="../static/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="../static/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="../static/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="../static/js/jsAddress.js"></script>
<script type="text/javascript" src="../../static/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="../../static/h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="../../static/h-ui.admin/js/H-ui.admin.page.js"></script>
<script type="text/javascript" src="/static/js/ajaxFunction.js"></script>

<script type="text/javascript" src="/static/js/useadd.js"></script>
</body>
</html>
{% endblock %}